<!DOCTYPE html>
<html>

<head>
    <title>733</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="manifest" href="/manifest.json">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.3.0-beta.0/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">

</head>

<body>
    <v-app id="app">
        <v-content>
            <template v-if="cardsLeft > 0">
                <v-container fluid>
                    <v-layout column>
                        <v-card class='mycard'>
                            <v-btn class='mb-0 mt-0 headline bars' block @click='high' color="green">
                                HIGH = 10
                                - A
                            </v-btn>
                            <v-btn class='mb-0 mt-0 headline bars' block style="color:black" @click='med' color="orange">
                                MID = 7 -
                                9
                            </v-btn>
                            <v-btn class='mb-0 mt-0 headline bars' block @click='low' color="red">
                                LOW = 2 -
                                6
                            </v-btn>

                            <v-flex xs12>
                                <v-card-text class='bott subheading'>
                                    <div>{{ cardsLeft }}</div>
                                    <v-divider></v-divider>
                                    <div>{{ tens }} ten cards left</div>
                                    <v-divider></v-divider>
                                    <div>{{ mids }} mid cards left</div>
                                    <v-divider></v-divider>
                                    <div>{{ lows }} low cards left</div>
                                    <v-divider></v-divider>
                                    <div>score is {{ total }}</div>
                                </v-card-text>
                                <v-card-text class='display-1 text-xs-center pt-5' v-bind:class="[{ dplay: !play.myboo }, { play: play.myboo }, { playx: play.myboo==null}]">
                                    <div>{{ this.play.mystr }}</div>

                                </v-card-text>
                            </v-flex>
                        </v-card>

                    </v-layout>

                </v-container>

                <!-- <input class='inp' v-model="inone" @keydown.enter="checker"> -->

            </template>
            <template v-if="cardsLeft == 0">
                <v-btn class='but new' @click='restart'> New Game
                </v-btn>
            </template>
        </v-content>

    </v-app>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.3.0-beta.0/vuetify.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>