button.bars {
  height: 50px;
}

.mycard {
  height: 95vh;
}
.v-card__text.bott {
  padding-top: 50px;
}
.play {
  background-color: green;
  color: white;
  height: calc(100vh - 372px);
  text-transform: uppercase;
}
.dplay {
  background-color: red;
  height: calc(100vh - 372px);
  text-transform: uppercase;
  color: white;
}
.playx {
  background-color: rgba(255, 166, 0, 0.452);
  height: calc(100vh - 372px);
  text-transform: uppercase;
  color: black;
}
