button.bars {
  height: 50px;
}

.mycard {
  height: 100%;
}

.v-card__text.bott {}

.play {
  background-color: green;
  color: white;
  position: absolute;
  bottom: 0px;
  text-transform: uppercase;
}

.dplay {
  background-color: red;
  text-transform: uppercase;
  color: white;
  position: absolute;
  bottom: 0px;
}

.botpad {
  padding-top: 10px;
  padding-bottom: 10px;

}

.playx {

  background-color: rgba(255, 166, 0, 0.452);
  position: absolute;
  bottom: 0px;
  text-transform: uppercase;
  color: black;
}

.bott {
  margin-bottom: 90px;
}